services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always

  backend:
    image: sharafukov/foodgram_backend:latest
    env_file: .env
    volumes:
      - static_value:/app/collected_static/
      - media_value:/app/media/
    depends_on:
      - db
    restart: always

  frontend:
    image: sharafukov/foodgram_frontend:latest
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - frontend_value:/frontend_static

  gateway:
    image: sharafukov/foodgram_gateway:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_value:/var/html/static/
      - media_value:/var/html/media/
      - frontend_value:/usr/share/nginx/html/
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
  static_value:
  media_value:
  frontend_value:
